/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
$text-color: rgb(0, 41, 89);
$btn-color: white;
/* GLOBAL */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s linear;
}
html {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}
body {
  font-family: "Inter", sans-serif;
  color: $text-color;
  font-size: 1.93rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  display: inline-block;
}
img {
  max-width: 100%;
}
// BTN
@mixin buttonStyle() {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1.8rem 3rem;
  background: rgb(236, 108, 33);
  color: $btn-color;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19px;
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
}
/* MAIN */
.main {
  flex-grow: 1;
}
// HEADER
.header {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .sitenav__list {
    display: flex;
    gap: 3rem;

    .sitenav__link {
      color: $text-color;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 19px;
    }
  }
  .btn1 {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1.8rem 3rem;
    background: rgb(236, 108, 33);
    color: $btn-color;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19px;
  }
}
// HERO
.hero {
  padding-top: 9.2rem;
  position: relative;

  &__container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: $text-color;
    font-size: 6.1rem;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    margin-bottom: 4rem;
  }
  &__description {
    text-transform: capitalize;
    margin-bottom: 5rem;
  }
  .btn2 {
    @extend .btn1;
    @include buttonStyle();
    margin: 0 auto;
    cursor: pointer;
  }
}
// BG
.bg {
  img {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
  }
}
